<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/loginformCSS.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form th:action="@{/login}" method="POST" class="login-form">
				<input type="text" id="username" name="username"
					placeholder="Username" /> <br /> <input type="password"
					placeholder="password" id="password" name="password" /> <br />
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password
						invalid, please verify</p>
				</div>
 				<button>login</button>
				<p class="message">
					Not registered? <a th:href="@{/registration}">Create an account</a>
				</p>
			</form>
		</div>
	</div>
</body>
</body>
</html>
